@page "/estudiantes"
@inject EstudianteServicio estudianteServicio
@inject IJSRuntime jsRuntime

<h3>Estudiantes</h3>
<NavLink class="nav-link" href="estudiante/agregar">
    <span class="oi oi-plus" aria-hidden="true">Agregar estudiante</span>
</NavLink>

<label>Buscar estudiante:</label>
<input type="text" @oninput="@( (e) => Filtro(e) )">

<div class="row">
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha Inscripción</th>
                    <th>Nombre Completo</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var estudiante in estudiantes) {
                    <tr>
                        <td>@estudiante.Nombre</td>
                        <td>@estudiante.Apeido</td>
                        <td>@estudiante.FechaInscripcion</td>
                        <td>@estudiante.NombreCompleto</td>
                        <td>
                            <a href="estudiante/editar/@estudiante.Id" class="btn btn-success">Editar</a>
                            <a class="btn btn-danger" @onclick="async () => await Borrar(estudiante)">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<Estudiante> estudiantes = new();

    protected override void OnInitialized() {
        estudiantes = estudianteServicio.ObtenerTodo("");
    }

    private async Task Borrar(Estudiante estudiante) {
        bool confirmed = await jsRuntime.InvokeAsync<bool>("confirm", "¿Estás seguro?");
        if (confirmed) {
            if (estudianteServicio.Borrar(estudiante.Id)) {
                estudiantes.Remove(estudiante);
            }
        }
    }

    protected void Filtro(ChangeEventArgs e) {
        string cadenaBuscar = e.Value.ToString();
        estudiantes = estudianteServicio.ObtenerTodo(cadenaBuscar);
    }
}
